header > img {
  max-width: 100%;
}
@media (min-width: 768px) {
  .navbar {
    min-height: initial;
  }
  .navbar-collapse ul {
    float: initial;
    text-align: center;
  }
  .navbar-collapse ul li {
    float: initial;
    display: inline-block;
  }
  .navbar-collapse ul li a {
    display: inline-block;
    padding-top: initial;
    padding-bottom: initial;
    padding-left: 3em;
    padding-right: 3em;
    line-height: 3em;
  }
}
.navbar,
.navbar-collapse {
  margin-bottom: initial;
  border-style: initial;
  border-radius: initial;
}
.navbar-default {
  background-color: initial;
}
.nav > .active > a {
  background-color: #c79f27 !important;
}
div.row.navbar-main {
  background-color: #498fc8;
}
#navbar-main a {
  color: #ffffff;
}
.home-headlines {
  background-color: #CEAB41;
}
.home-headlines > :first-child {
  color: red;
}
.home-headlines .head {
  text-align: center;
  background-color: #8E734E;
}
#tt-sidebar-home-row2 .title,
#tt-sidebar-home-row3 .title,
#tt-sidebar-home-row4 .title {
  font-family: 'Oswald', sans-serif;
  font-size: 200%;
}
#tt-sidebar-home-row2 .title {
  color: #00254f;
}
#tt-sidebar-home-row3 background-color:
    .title {
  color: white;
}
#tt-sidebar-home-row4 .title {
  color: #8e734e;
}
.tt-newsblog-widget {
  background-color: #f4f5f6;
  line-height: 1.75;
}
.tt-newsblog-widget .header {
  font-family: 'Oswald', sans-serif;
  font-size: 200%;
}
.tt-newsblog-widget a {
  color: inherit;
}
.footer-contact-container {
  line-height: 2;
  background-color: #c79f27;
}
.footer-contact-container .footer-text-widget {
  color: #ffffff;
  padding-left: 2.5em;
  padding-right: 2.5em;
}
.footer-contact-container .footer-text-widget a {
  color: #ffffff;
}
.footer-contact-container .footer-text-widget .footer {
  color: #fbd22f;
}
.footer-contact-container .footer-text-widget .footer a {
  color: #fbd22f;
}
.footer-contact-container .footer-text-widget .header,
.footer-contact-container .footer-text-widget .footer {
  font-family: 'Oswald', sans-serif;
  font-size: 200%;
}
.footer-contact-container > div > .row > .center:before,
.footer-contact-container > div > .row > .center:after {
  content: '';
  background: rgba(255,255,255,0.33);
  position: absolute;
}
@media (max-width: 767px) {
  .footer-contact-container > div > .row > .center:before,
  .footer-contact-container > div > .row > .center:after {
    left: 10%;
    width: 80%;
    height: 0.15em;
  }
  .footer-contact-container > div > .row > .center:before {
    top: 0;
  }
  .footer-contact-container > div > .row > .center:after {
    bottom: 0;
  }
}
@media (min-width: 768px) {
  .footer-contact-container > div > .row > .center:before,
  .footer-contact-container > div > .row > .center:after {
    top: 10%;
    width: 0.15em;
    height: 80%;
  }
  .footer-contact-container > div > .row > .center:before {
    left: 0;
  }
  .footer-contact-container > div > .row > .center:after {
    right: 0;
  }
}
#footer-bloginfo {
  padding: 2rem 8.3333333333333%;
}
#footer-bloginfo-name {
  font-size: 150%;
}
#footer-bloginfo {
  background-color: #dce0e0;
}
#home-top-container {
  background-image: ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Oswald', sans-serif;
}
#home-top-container .widgettitle {
  margin-left: 10%;
  margin-right: 10%;
}
#home-top-container .textwidget {
  margin-left: 15%;
  margin-right: 10%;
}
#home-top-container .widget {
  padding-top: 2em;
  padding-bottom: 2em;
}
.home-top-container > .row > .center:before,
.home-top-container > .row > .center:after {
  content: '';
  background: rgba(255,255,255,0.33);
  position: absolute;
}
@media (max-width: 767px) {
  .home-top-container > .row > .center:before,
  .home-top-container > .row > .center:after {
    left: 16.665%;
    width: 66.67%;
    height: 0.15em;
  }
  .home-top-container > .row > .center:before {
    top: 0;
  }
  .home-top-container > .row > .center:after {
    bottom: 0;
  }
}
@media (min-width: 768px) {
  .home-top-container > .row > .center:before,
  .home-top-container > .row > .center:after {
    top: 16.665%;
    width: 0.15em;
    height: 66.67%;
  }
  .home-top-container > .row > .center:before {
    left: 0;
  }
  .home-top-container > .row > .center:after {
    right: 0;
  }
}
.step-grad {
  background-color: #E5EEBF;
  background: -webkit-linear-gradient(top,transparent,transparent 20%,#E5EEBF 20%,#E5EEBF 100%);
  background: -moz-linear-gradient(top,transparent,transparent 20%,#E5EEBF 20%,#E5EEBF 100%);
  background: -ms-linear-gradient(top,transparent,transparent 20%,#E5EEBF 20%,#E5EEBF 100%);
  background: -o-linear-gradient(top,transparent,transparent 20%,#E5EEBF 20%,#E5EEBF 100%);
}
.tt-headline-widget {
  display: table;
}
.tt-headline-widget div[class^="col-"] {
  float: initial;
  display: table-cell;
}
.tt-headline-widget .image {
  padding: 1.5em initial;
}
.tt-headline-widget .content,
.tt-headline-widget-narrow .content {
  line-height: 1.75;
  vertical-align: middle;
  padding-left: 2em;
  padding-right: 2em;
}
.tt-headline-widget .content .title,
.tt-headline-widget-narrow .content .title {
  font-family: 'Oswald', sans-serif;
  font-size: 200%;
  vertical-align: bottom;
}
.tt-headline-widget .content a,
.tt-headline-widget-narrow .content a {
  color: black;
  text-decoration: none;
}
.tt-headline-widget .symbol,
.tt-headline-widget-narrow .symbol {
  font-size: 500%;
  vertical-align: top;
  width: 1px;
  padding-top: 0.25em;
}
@media (min-width: 768px) {
  .tt-threebox-widget {
    display: table;
  }
  .tt-threebox-widget div[class^="col-"] {
    float: initial;
    display: table-cell;
  }
}
.tt-threebox-widget {
  background-color: #D2D0CD;
}
.tt-threebox-widget .middle {
  background-color: #D8D5C3;
}
.tt-threebox-widget a {
  text-decoration: none;
  color: black;
}
.tt-threebox-widget [class^="col-"] > * {
  margin-left: 10%;
  margin-right: 10%;
}
.tt-threebox-widget .title {
  font-family: 'Oswald', sans-serif;
  font-size: 200%;
}
.post-content {
  padding-left: 8.3333333333333%;
  padding-right: 8.3333333333333%;
  line-height: 1.75;
}
.post-sidebar > div:not(:first-child) {
  border-top: 0.25rem solid gray;
}
.post-sidebar > div {
  padding: 8.3333333333333%;
}
.post-sidebar .widgettitle {
  font-family: 'Oswald', sans-serif;
}
